body {
    background-color: #0A1F3B; /* Смяна на цвета на фона */
    font-family: 'Open Sans', sans-serif;
    color: white; /* Бели букви за текста */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center; /* Заглавният текст да е в средата */
    margin-top: 50px; /* Отместване на заглавния текст нагоре */
}

.button-container {
    text-align: center; /* Центриране на бутоните */
    margin-top: 20px;
}

input[type="submit"] {
    color: white; /* Бели букви за текста на бутоните */
    background-color: transparent; /* Прозрачен фон */
    border: 1px solid white; /* Бяла рамка */
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.input[type="submit"]:hover {
    background-color: white; /* Промяна на цвета на фона при ховър */
    color: #0A1F3B; /* Промяна на цвета на текста при ховър */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0A1F3B; /* Смяна на цвета на фона в долната част */
    padding: 10px;
    text-align: center;
    border-top: 15px solid black; /* Добавяне на черна линия в горната част на сайта */
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.sign-in-button,
.log-in-button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.sign-in-button:hover,
.log-in-button:hover {
    background-color: white;
    color: #0A1F3B;
}

#map {
    width: 50vw;
    height: 50vh;
}