body {
    background-image: linear-gradient(to right, rgb(70, 128, 173), rgb(113, 113, 182));
    font-family: ' Serif', sans-serif;
    color: rgb(240, 240, 240); 
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 41px #ccc7d6;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
}

p {
    text-align: center;
    margin-top: 50px;
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #f3f3f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
