body {
    background-image: linear-gradient(to right, rgb(70, 128, 173), rgb(113, 113, 182));
    font-family: ' Serif', sans-serif;
    color: rgb(240, 240, 240); 
    margin: 20px;
    padding: 0px;
    text-shadow: 2px 2px 41px #ccc7d6;
    font-size: 50px;
}


h1 {
    text-align: center; 
    margin-top: 100px; 
}

.button-container {
    text-align: center; 
    margin-top: 20px;
}




input[type="submit"] {
    font-size: 70px;
    color: rgb(243, 243, 243);
    background-color:transparent;
    border-radius: 10px;
    border:transparent;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0px transparent; 
}

input[type="submit"]:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255); 
}
input[type="button"] {
    font-size: 30px;
    color: rgb(243, 243, 243);
    background-color:transparent;
    border:none;
    cursor:pointer;
}


input[type="button"]:hover {
    text-decoration: underline; 
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    padding: 10px;
    text-align: center;
   
}


.footer a {
    color: rgb(255, 255, 255) !important; 
    text-decoration: none; 
    font-size: 30px; 
    padding: 10px 20px; 
    margin: 0 10px; 
    cursor: pointer;
    display: inline-block; 
}

.footer a:hover {
    text-decoration: underline; 
}



.sign-in-button,
.log-in-button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.sign-in-button:hover,
.log-in-button:hover {
    background-color: white;
    color: #ffffff;
}

#map {

    border-style: outset;
    border-bottom-style: outset;
  border-bottom-style: inset;
  border-left-style: inset;
  border-width: 20px;
    position: static;
    left: 50px;
    width: 50vw;
    height: 50vh;
}
.TUES{
    max-width: 250%;
    max-height:700px;
     display: auto;
}
