<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link rel="stylesheet" href="main.css">
     <title>Elsyser's home</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
</head>
<b ody>
     <h1 id="start">Elsyser's home</h1>
     <div class="button-container">
         <input type="submit" value="Очаквайте скоро" target="_blank" onclick="window.location.href = 'daskalo.html';">
        <input type="submit" value="Карта на 8 блок" target="_blank" onclick="window.location.href = 'etazhiza8.html';">
        <input type="submit" value="Карта на 9 блок" target="_blank" onclick="window.location.href = 'etazhiza9.html';">
        <input type="submit" value="Карта на 10 блок" target="_blank" onclick="window.location.href = 'block10.html';">
        <input type="submit" value=login test скоро" target="_blank" onclick="window.location.href = 'login.html';">
        <input type="submit" value=signup test скоро" target="_blank" onclick="window.location.href = 'signup.html';">
    </div>  
 
  
     <div class="footer">
        <a href="https://www.google.bg/maps/dir/Факултет+по+транспорта+(ТУ-София)/42.6674403,23.3162753/@42.6543455,23.3534452,16.75z/data=!4m8!4m7!1m5!1m1!1s0x40aa8426c28853ef:0x507b5ee6b85ffd1e!2m2!1d23.3552696!2d42.6527332!1m0?hl=bg&entry=ttu"
            target="_blank" id="location">Локация</a>
        <a href="https://elsys-bg.org/" target="_blank">Официален сайт на ТУЕС</a>
     </div>
</body>
 </html>
