<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <img src="logoelsys.png" alt="Logo" class="logo">
        <h2>Login</h2>

        <form method="POST" action="{{ url_for('login') }}">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit">Login</button>
        </form>
    </form>

        <!--<form action="{{ url_for('login') }}" method="POST">
            {{ form.csrf_token }}
            <label for="email">Email:</label>
            {{ form.email }}
            <label for="password">Password:</label>
            {{ form.password }}
            <button type="submit">Login</button>
        </form>-->
    </div>
</body>
</html>