body {
    background: linear-gradient(rgb(0, 0, 0),rgb(20, 0, 131));
    font-family: 'Open Sans', sans-serif;
    color: rgb(81, 200, 226); 
    margin: 20px;
    padding: 0;
    text-shadow: 2px 2px 41px #362dab;
    font-size:50;
}

h1 {
    text-align: center; 
    margin-top: 50px; 
}

.button-container {
    text-align: center; 
    margin-top: 20px;
}

input[type="submit"] {
    font-size:30;   
    color: white; 
    background-color: transparent; 
    border: 1px solid white; 
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.input[type="submit"]:hover {
    background-color: white; 
    color: #0A1F3B; 
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    background-color: #0A1F3B; 
    padding: 10px;
    text-align: center;
    border-top: 15px solid black; 
}

.footer a {
    color: white !important; 
    text-decoration: none; 
    font-size:10;
    border: 1px solid white;
    padding: 10px 100px;
    margin: 0 5px;
    cursor: pointer;
}


.footer a:hover {
    text-decoration: underline; /* Добавете подчертаване при ховър */
}



.sign-in-button,
.log-in-button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.sign-in-button:hover,
.log-in-button:hover {
    background-color: white;
    color: #ffffff;
}

#map {
    border-style: outset;
    border-bottom-style: outset;
  border-bottom-style: inset;
  border-left-style: inset;
  border-width: 20px;
    position: static;
    left: 50px;
    width: 50vw;
    height: 50vh;
}
