body {
    background-color: #000000; 
    font-family: 'Open Sans', sans-serif;
    color: rgb(56, 43, 169); 
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 41px #362dab;
}

h1 {
    text-align: center; 
    margin-top: 50px; 
}

.button-container {
    text-align: center; 
    margin-top: 20px;
}

input[type="submit"] {
    color: white; 
    background-color: transparent; 
    border: 1px solid white; 
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.input[type="submit"]:hover {
    background-color: white; 
    color: #0A1F3B; 
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0A1F3B; 
    padding: 10px;
    text-align: center;
    border-top: 15px solid black; 
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 100px 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.sign-in-button,
.log-in-button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.sign-in-button:hover,
.log-in-button:hover {
    background-color: white;
    color: #0A1F3B;
}

#map {
    width: 50vw;
    height: 50vh;
}

title{
    bottom:250px;
}