<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="error-container">
        <h2>Error: Invalid Email</h2>
        <p>You must log in with an @elsys-bg.org email address.</p>
        <a href="/login" class="signup-button">Sign Up</a>
    </div>
</body>
</html>


